html, body {
    height: 100%;
}

body {
    background: url(/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-container {
    height: 100%;
}

#view {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    max-height: 100%;
    width: 500px;
    display: flex;
    align-items: center;
}

.inner-container {
    margin: 0;
    width: 100%;
}

.inner-form {
    margin: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
}

.return-link-container {
    display: flex;
    align-items: center;
}

.return-link {
    max-width: 100%;
    margin: 10px auto 0 auto;
}

.alert {
    margin-bottom: 10px;
    padding: 6px 12px;
}

.text-success {
    color: #3c763d;
}

.text-error {
    color: #a94442;
}

.text-warning {
    color: #8a6d3b;
}

.validators {
    max-height: 44px;
    overflow-y: hidden;
}
