<div class="lg-inner-container panel" ng-controller="AddCourseController">
    <form class="inner-form" form="addCourseForm" ng-submit="create(course)" novalidate>
        <h2 class="title">Create a Course</h2>
        <div class="edit-profile-info">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="detail-key detail-key-edit"><b>Course Number</b></td>
                        <td class="detail-value">
                            <input class="form-control" placeholder="Course Number" type="text" name="courseNumber" ng-model="course.CourseNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td class="detail-key detail-key-edit"><b>Course Name</b></td>
                        <td class="detail-value">
                            <input class="form-control" placeholder="Course Name" type="text" name="courseName" ng-model="course.CourseName" />
                        </td>
                    </tr>
                    <tr>
                        <td class="detail-key detail-key-edit"><b>Instructor</b></td>
                        <td class="detail-value">
                            <input class="form-control" placeholder="Instructor" type="text" name="instructor" ng-model="course.Instructor" />
                        </td>
                    </tr>
                    <tr>
                        <td class="param"><b>Designation</b></td>
                        <td>
                            <select class="form-control" ng-model="course.Designation">
                                <option ng-repeat="designation in designations">{{designation.Name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr ng-repeat="categoryOption in categoryOptions">
                        <td class="param"><b>{{categoryOption.name}}</b></td>
                        <td>
                            <select class="form-control" ng-model="course.categories[categoryOption.index]">
                                <option ng-repeat="category in categories">{{category.CategoryName}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" class="full-width btn btn-default" ng-click="addCategory()">Add Category</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="detail-key detail-key-edit"><b>Number of Students</b></td>
                        <td class="detail-value">
                            <input class="form-control" placeholder="Number of Students" type="number" name="description" ng-model="course.EstNumStudents" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <p ng-show="message" class="{{ messageClass }}" style="margin-top: 10px">{{ message }}</p>
            <button class="btn btn-success full-width" type="submit">Create Course</button>
            <button type="button" class="search-btn full-width btn btn-danger" ng-click="reset()">Reset Form</button>
        </div>
        <div class="return-link-container">
            <a class="return-link" ui-sref="admin_main">Return to Admin</a>
        </div>
    </form>
</div>
