<div class="sm-inner-container panel" ng-controller="AdminController">
    <div class="inner-form">
        <h2 class="title">Admin Options</h2>
        <button class="btn btn-default stack full-width" ui-sref="all_applications">View Applications</button>
        <button class="btn btn-default stack full-width" ui-sref="popular_projects_report">View Popular Project Report</button>
        <button class="btn btn-default stack full-width" ui-sref="application_report">View Application Report</button>
        <button class="btn btn-default stack full-width" ui-sref="add_project">Add a Project</button>
        <button class="btn btn-default full-width" ui-sref="add_course">Add a Course</button>
    </div>
</div>
